    /* main background */
    .main-bg{
        color: var(--very-dark-blue);
    }

    /* Crad Background */
    .crad-bg{
        color: var(--dark-desaturated-blue);
    }

    /* Accent */
    .accent{
        color: var(--soft-violet);
    }

    /* Main heading, stats */
    .main-heading{
     color: var(--white);
    }

    /* main paragraph */
    .main-paragraph{
        color: var(--slightly-transparent-white-1);
    }
    
    /* stat headings */
    .stat-headings{
        color: var(--slightly-transparent-white-2);
    }