*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
background-color: var(--very-dark-blue);
background-image: url("../images/auxiliar/desktop-design.jpg");
background-position: center;
background-repeat: no-repeat;
}


span{
    display: inline-block;
}

h1{
    font-size: 1.625rem;
}

p{
    font-size: 0.75rem;
}

:root{
    /* main background */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* Crad Background */
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    /* Accent */
    --soft-violet: hsl(277, 64%, 61%);

    /* Main heading, stats */
    --white: hsl(0, 0%, 100%);
    /* main paragraph */
    --slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75);
    /* stat headings */
    --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}