/* - Mobile: 375px
- Desktop: 1440px */

main {
    display: grid;
    grid-template-columns: 1fr auto;
    place-self: center;
}

.text-bg{
    display: grid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 75px 70px;
    background-color: var(--dark-desaturated-blue);
}

.numbers-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.number-box {
    display: flex;
    flex-direction: column;
}

.number-box .font-Inter-700.main-heading {
    font-size: 1.25rem;
}

.number-box .font-Lexend.main-paragraph {
    text-transform: uppercase;
    font-size: 0.625rem;
}

.img-container{
    position: relative;
}

.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--soft-violet);
    opacity: 100%;
    z-index: 1;
  }

.img-container > img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    object-fit: cover;
}

