/* - Mobile: 375px
- Desktop: 1440px */


.numbers-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto;
}


 .number-box{
display: flex;
flex-direction: column;
} 

span > span{
    text-transform: uppercase;
    font-size: 15px;
}