/* - Mobile: 375px
- Desktop: 1440px */


.numbers-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto;
}


 .number-box{
display: flex;
flex-direction: column;
} 

.number-box .font-Inter-700.main-heading{
font-size: 1.25rem;
}

.number-box .font-Lexend.main-paragraph{
    text-transform: uppercase;
    font-size: 0.625rem;
}

